@charset "utf_8";

#btns {
	display: flex;
	flex-direction: row;
	width: 600px;
	justify-items: space-evenly;
	justify-content: space-evenly;
}

#btns > a {
	display: inline-block;
	height: 100%;
}

.lire {
	width: 200px;
	height: 70px;
	align-content: center;
	align-items: center;
	border: 2px solid lightpink;
	border-radius: 5px;
	background-color: darkslategrey;
	text-align: center;
	vertical-align: middle;
}