@charset "utf-8";
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
*{
	margin  : 0;
	padding : 0;
}
/* ------------------------------------------------------------- */
header{
	margin           : 2rem;
	padding          : 1rem;
	background-color : #CCC;
	border-radius    : 10px;
	text-align       : center;
}
header h1{
	font-size : 3.5rem;
}
header h2{
	font-size : 3rem;
}
header p{
	font-size : 1.5rem;
}
/* ------------------------------------------------------------- */
main{
	margin           : 0 3rem;	
}
main section{
	margin-bottom : 2rem;
}
main h1{
	margin          : 1rem 2rem 2rem 2rem;
	font-size       : 2.2rem;
	text-decoration : underline;
}
main h2{
	font-size       : 1.8rem;
	text-decoration : underline;
	margin-bottom   : 1rem;
}
main  p{
	margin      : 1rem;
	text-indent : 3rem;
	font-size   : 1rem;
}
main .captures {
	text-align : center;
	font-weight : bold;
}
main ul, main ol{
	margin-left : 2rem;
}
main ul p, main ol p{
	text-indent : 0	;
}

/* ------------------------------------------------------------- */
footer{
	background-color : #CCC;
	padding          : 0.5rem 1.5rem;
}
footer p{
	text-align : right;
}
footer address p{
	text-align : center;
}
/* ------------------------------------------------------------- */
