@charset "utf8";

#buttonsTab {
    display: flex;

    width: 100%;
    margin: 1rem;

    align-content: center;
    align-items: center;

    justify-content: center;
    justify-items: center;
}

#buttonsTab > button {
    width: 80px;
    height: 25px;

    margin: 0 10px;

    font-weight: bold;

    border-radius: 8px;
    border-color: lightcoral;
}
